{% extends "./master.html" %}

{% load rules %}

{% block title %}SSH Keys{% endblock %}

{% block content %}
<div class="container-fluid"> 
    <div class="row">
<h1>Your SSH Keys:</h1>
{% if not sshkeys %}
    <h3> No SSH key saved.</h3>
{% else %}
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Key</th>
            <th>Date</th>
            <th>Actions</th> 
        </tr>
        {% for sshkey in sshkeys %}
            <tr>
                <td>{{ sshkey.title }}</td>
                <td>{{ sshkey.key }}</td>
                <td>{{ sshkey.date }}</td>

                <td>
                    <form method="POST" action="/portal/sshkeys/delete/">
                        {% csrf_token %}
                        <input type="hidden" name="sshkey_id" value="{{ sshkey.id }}">
                        <input type="submit" value="Delete key">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}    
</div> <br/>
<br/>
<div class="row">
<h3>Add a new key:</h3>
<form method="POST" action="/portal/sshkeys/add/">
    {% csrf_token %}
    Title: <br/>
    <input type="text" name="sshtitle"><br/>
    Key contents:<br/>
    <textarea name="sshkey"></textarea><br/>
    <input type="submit" value="Add key">
</form>
</div>
</div>
{% endblock %}
